<% if (isClientComponent) { %>'use client'

<% } %>import React from 'react'
<% if (withProps) { %>
interface <%= componentName %>Props {
  // Define your props here
  className?: string
  children?: React.ReactNode
}
<% } %>

/**
 * <%= componentName %> component
<% if (description) { %> * 
 * <%= description %>
<% } %> */
export function <%= componentName %>(<% if (withProps) { %>props: <%= componentName %>Props<% } %>) {
<% if (withProps) { %>  const { className, children, ...rest } = props
<% } %>
  return (
    <div<% if (withProps) { %> className={className} {...rest}<% } %>>
<% if (withProps) { %>      {children}
<% } else { %>      {/* Your component content here */}
<% } %>    </div>
  )
}

<%= componentName %>.displayName = '<%= componentName %>'

export default <%= componentName %>

